{
	"printWidth": 80,
	"useTabs": true,
	"singleQuote": true,
	"trailingComma": "none",
	"plugins": ["prettier-plugin-svelte", "@prettier/plugin-markdown"],
	"overrides": [
		{
			"files": "*.svelte",
			"options": {
				"parser": "svelte"
			}
		},
		{
			"files": "*.svx",
			"options": {
				"parser": "markdown"
			}
		}
	]
}
